@page "/buildings"
@using System.Text.Json
@using Microsoft.AspNetCore.Authorization
@using RealEstate.Client.Services.Building
@using RealEstate.Contract.Building
@using RealEstate.Client.Services

@inject IBuildingService _buildingService

<h3>Buildings</h3>

@foreach (var building in buildings)
{
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">@building.Name</h5>
            <p class="card-text">@building.Address</p>
        </div>
    </div>
}


@code {
    private List<SingleBuildingResponse> buildings = new();
    private GetBuildingsQuery getBuildingsQuery = new();

    #region Error
    private string errorMessage;
    private bool isError;
    private void ShowError(string error)
    {
        errorMessage = error;
        isError = true;
    }

    private bool isLoading;
    #endregion


    private async Task LoadBuildings()
    {
        var response = await _buildingService.GetAllAsync(getBuildingsQuery);

        if (response.Success)
        {
            buildings = response.Result.Items.ToList();
        }
        else
        {
            ShowError(response.Error);
        }

    }

    protected override async Task OnInitializedAsync()
    {
        isLoading = true;
        await Task.WhenAll(LoadBuildings());
        isLoading = false;
    }
}
